@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
body {
  transition: all 0.5s ease-out;
  opacity: 1;
  &.showed {
    transform: translateX(-100px);
    filter: grayscale(100%);
    opacity: 0;
  }
  &.leave {
    transform: translateX(100px);
    filter: grayscale(100%);
    opacity: 0;
  }
}
.w3-sidebar {
  width: 375px;
}
nav.navbar.bootsnav ul.nav>li>a {
  &.disabled {
    color: #C2D2DD !important;
    &:hover, &:active, &:focus {
      color: #C2D2DD !important;
    }
  }
}
#signup, #no-sign {
  padding: 0 !important;
  body { padding: 2em; }
  .alert {
    border-radius: 0;
    font-size: 14px;
    line-height: normal;
    padding: 10px 20px;
  }
  .modal-dialog {
    max-width: 350px;
    margin: 10px auto;
  }
  /* Shared */
  .loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
    display: block;
  }
  .loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }
  .loginBtn:focus {
    outline: none;
  }
  .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }


  /* Facebook */
  .loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
  }
  .loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
  }
  .loginBtn--facebook:hover,
  .loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
  }


  /* Google */
  .loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
  }
  .loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
  }
  .loginBtn--google:hover,
  .loginBtn--google:focus {
    background: #E74B37;
  }
  .no-ava-cont {
    width: 150px;
    margin: 20px auto 20px auto;
    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
  .btns-cont {
    padding: 0 25px;
  }
  .loginBtn--facebook {
    margin-bottom: 10px;
  }
  .modal-content {
    padding-bottom: 25px;
  }
  .modal-header {
    padding: 10px;
  }
  .modal-title {
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Roboto';
    text-align: center;
  }
}
.home-map {
  padding-top: 60px;
  .hint {
    top: 130px;
    right: 13px;
  }
}
.tab {
  .tab-pane {
    height: 100%;
    padding: 0;
  }
  .tab-selector {
    display: flex;
    li {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        padding: 10px 15px;
        height: 100%;
        width: 100%;
        text-decoration: none !important;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 0 !important;
      }
      .fa {
        margin-right: 5px;
        font-size: 18px;
      }
    }
  }
  .tab-content {
    height: 60vh;
    min-height: 340px;
    padding: 0;
    margin-bottom: 10px;
  }
  .search-result-list {
    height: 100%;
  }
  .fast-parking-list, .all-places-list {
    height: 100%;
    overflow: auto;
    .small-listing-box {
      padding: 10px 0;
      border-bottom: 1px solid #FFFFFF;
      display: flex;
      align-items: stretch;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        z-index: 10;
        background: #FFFFFF;
      }
    }
    .small-list-img {
      margin-right: 10px;
      max-width: 65px;
      height: 100%;
      img {
        max-width: 100%;
        margin: 0;
      }
    }
    .snall-list-info {
      flex-grow: 1;
      height: 100%;
    }
    .small-list-action {
      padding-top: 0;
      margin-right: 0;
      float: none;
      height: 100%;
    }
    .top-info {
      display: flex;
      justify-content: space-between;
      padding-right: 14px;
      span {
        white-space: nowrap;
      }
    }
    .bot-info {
      font-size: 14px;
      font-family: Roboto;
      margin-top: 3px;
      td {
        border-right: 1px solid #E5E5E5;
        padding: 2px 10px;
        text-align: center;
        &:first-child {
          padding-left: 0;
          text-align: left;
        }
        &:last-child {
          border-right: none;
          padding-right: 0;
        }
      }
      span {
        &:last-child {
          &:after {
            margin: 0;
            background: transparent;
          }
        }
        &:after {
          content: "";
          width: 1px;
          height: 23px;
          background: #E5E5E5;
          display: inline-block;
          margin-left: 11px;
          margin-right: 11px;
          position: relative;
          top: 6px;
        }
      }
    }
    .holiday {
      color: #FF0000;
    }
  }
}
.filter-tab, .search-tab {
  .one-row {
    padding: 0 15px 0 15px;
    &:last-child {
      .one-row-in {
        border-bottom: none;
      }
    }
  }
  .one-row-in {
    display: flex;
    height: 80px;
    border-bottom: 1px solid #EFEFEF;
  }
  .icon-cont {
    font-size: 40px;
    min-width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #757677;
  }
  .label {
    color: #5093DF;
    padding: 0;
    font-size: 14px;
    //font-weight: normal;
    font-family: "Roboto";
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 8px;
  }
  label {
    display: flex;
    align-items: center;
    flex-grow: 1;
    input[type="checkbox"]{
      display: none;
    }
  }
  .bot-row {
    width: 100%;
    display: flex;
    input[type="text"]{
      width: 60px;
      padding-left: 5px;
      border: 1px solid #AEAEAE;
    }
  }
  .filt-block-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    flex-grow: 1;
    padding-top: 12px;
  }
  .slider-block-info {
    .label {
      margin-bottom: 2px;
    }
  }
  .jq-checkbox {
    margin-right: 8px;
    box-shadow: none;
    background: #FFF;
    width: 17px;
    height: 17px;
    &.checked {
      background: #5093DF;
      border: 1px solid #5093DF;
      .jq-checkbox__div {
        width: 10px;
        height: 6px;
        border-bottom: 2px solid #FFFFFF;
        border-left: 2px solid #FFFFFF;
        margin: 3px 0 0 2px;
      }
    }
  }
  .group {
    display: flex;
    align-items: center;
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
    .span {
      margin-right: 7px;
    }
  }
  #js-interval-slider {
    width: 230px;
  }
  #js-search-interval-slider {
    width: 230px;
  }
  #js-search-time-from-value {
    width: 230px;
  }
  #js-search-distance-slider {
    width: 230px;
  }
  .noUi-horizontal {
    height: 8px;
    .noUi-handle {
      top: -10px;
      border-radius: 15px;
      width: 25px;
      height: 25px;
      &:after {
        display: none;
      }
      &:before {
        display: none;
      }
      &:focus {
        outline: none;
      }
    }
    .noUi-active {
      outline: none;
      background: #FF431E;
      border: 1px solid #FFFFFF;
      box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #FFFFFF, 0 3px 6px -3px #FFFFFF;
    }
  }
  .js-filter-time-from {
    display: none;
  }
  .js-search-time-from {
    display: none;
  }
  .js-search-distance {
    display: none;
  }
  .bot {
    width: 100%;
    .span {
      margin-bottom: 8px;
    }
  }
}
.js-red-btn {
  width: calc( 100% - 16px );
  border: none;
  margin-top: 10px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto';
  margin-left: auto;
  margin-right: auto;
  height: 45px;
  background: #FF431E;
  .fa {
    margin-right: 7px;
  }
}
.dtp > .dtp-content > .dtp-date-view > header.dtp-header {
  background: #FF431E;
}
.dtp div.dtp-time {
  background: #FF7A60;
}
.dtp .fa-times {
  font-size: 19px !important;
  position: relative;
  top: -1px;
  right: -2px;
}
.gm-style .gm-style-iw {
  width: auto !important;
  & > div {
    width: 100% !important;
    max-width: 130px !important;
  }
  &+div {
    right: 7px !important;
    top: 7px !important;
  }
}
.info-window {
  max-width: 130px;
  font-family: "Roboto";
  .top {
    display: flex;
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }
  .place-sign {
    width: 65px;
    img {
      display: block;
      width: 100%;
    }
  }
  .time {
    width: 65px;
    text-align: center;
    font-size: 14px;
    line-height: 23px;
  }
  .btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .std-btn {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F3F6F8;
    border: 1px solid #D2DEE0;
    .fa {
      font-size: 25px;
    }
    &:first-child {
      margin-right: 15px;
    }
  }
  .gm {
    width: calc( 100% - 10px );
    height: 35px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    .fa {
      font-size: 20px;
      margin-right: 7px;
    }
  }
}
.open>.dropdown-menu {
  display: block !important;
}
.no-pd {
  display: flex !important;
  align-items: center;
  font-weight: bold;
  .dropdown {
    margin-right: 15px;
  }
  .dropdown-cont {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    & > li {
      & > a {
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #B9C5D2;
      }
      &:last-child {
        & > a {
          border-bottom: none;
        }
      }
    }
  }
  .dropdown-toggle {
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-weight: bold;
    //background: transparent;
  }
  .flag-cont {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 10px;
    background-position: center;
    background-size: cover;
    img {
      display: block;
      width: 100%;
    }
  }
}
.detail-section {
  height: 220px;

}
.img-detail {
  padding: 0;
  img {
    display: block;
    width: 100%;
  }
  .widget-boxed-body {
    padding: 10px 20px 10px 20px;
  }
}
.listing-address {
  display: block;
  margin-bottom: 15px;
  b {
    &:before {
      content: "\e693";
      font-family: 'themify';
    }
  }
}
#detail-map {
  min-height: 350px;
}
.detail-section {
  .listing-owner-detail {
    height: 155px;
    width: 155px;
    padding: 0;
    overflow: hidden;
    border-radius: 11px;
    .sign {
      display: block;
      max-width: 100%;
      width: 100%;
      height: auto;
      max-height: 100%;
      margin: 0;
    }
  }
  .listing-owner {
    min-width: 155px;
    bottom: -50px;
    left: 8%;
  }
  .get-direct, .add-to-wishlist {
    background: rgba(0, 0, 0, 0.5);
  }
}
.list-detail {
  .side-list ul li {
    span {
      font-weight: bold;
      display: inline-block;
      width: 170px;
      text-align: center;
    }
    .span {
      width: auto;
      display: inline;
      font-weight: normal;
      float: none;
      margin: 0 4px;
      font-size: 0.8em;
    }
    &.sunday {
      span {
        color: #FF431E;
      }
    }
  }
}
.right-part {
  padding: 0;
  .widget-boxed-body {
    padding: 15px 15px 15px 15px;
  }
}
body nav.navbar.bootsnav.navbar-transparent {
  background-color: rgba(0,0,0,0.4);
  box-shadow: none;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}
body nav.navbar.bootsnav.navbar-transparent.white ul.nav>li>a {
  color: #fff;
  text-shadow: none;
}
.user-auth-wrap {
  position: relative;
  .avater-img {
    margin-right: 10px;
    border: 2px solid rgba(255, 255, 255, .5);
    overflow: hidden;
    min-width: 41px;
  }
  .js-avatar-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
  }
  strong {
    font-weight: 700;
    color: #FFF;
    font-size: 15px;
  }
  .profile-menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background: #FFFFFF;
    min-width: 200px;
    box-shadow: 0 0 15px 1px rgba(113, 106, 202, .2);
    border-radius: 2px;
    list-style: none;
    display: none;
    a {
      display: block;
      padding: 14px 12px;
      clear: both;
      line-height: 1.42857143;
      color: #67757c;
      border-bottom: 1px solid #f1f6f9;
      font-weight: 400;
      transition: all 0.1s ease-out;
      font-size: 15px;
      .fa {
        font-size: 18px;
        margin-right: 5px;
      }
      &:hover {
        color: #ff431e;
      }
    }
  }
  .user-auth {
    background: #FF431E;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    position: relative;
    height: 61px;
    cursor: pointer;
    z-index: 9;
  }
}
.listing-box-header p {
  text-transform: none;
}
.has-error {
  .help-block {
    color: #FF431E;
  }
  .form-control {
    border-color: #FF431E;
    margin-bottom: 0px;
  }
}
.edit-avater {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.js-avatar-help-block {
  color: #FF431E;
  font-weight: 700;
}
.wanring-confirm {
  background: #FFC107;
  font-size: 45px;
  color: #05bf83;
  border-radius: 50%;
  border: 1px solid #abffe4;
  box-shadow: 0 0 10px 1px #afffe5;
  -webkit-box-shadow: 0 0 10px 1px #afffe5;
  -moz-box-shadow: 0 0 10px 1px #afffe5;
}
#favorites-modal {
  .favorites-cont {
    margin-bottom: 0;
    padding: 0 15px;
    overflow-y: auto;
    max-height: 260px;
    li {
      display: flex;
      width: 100%;
      border-bottom: 1px solid #EFEFEF;
      padding: 5px 0;
    }
    .blog-list-img {
      height: 70px;
      width: 70px;
      max-width: 70px;
      min-width: 70px;
    }
  }
  .bot-info {
    display: flex;
    font-size: 14px;
    font-family: Roboto;
    span {
      &:last-child {
        &:after {
          background: transparent;
        }
      }
      &:after {
        content: "";
        width: 1px;
        height: 20px;
        background: #E5E5E5;
        display: inline-block;
        margin-left: 11px;
        margin-right: 11px;
        position: relative;
        top: 5px;
      }
    }
  }
  .blog-list-info {
    flex-grow: 1;
    display: flex;
  }
  .modal-body {
    padding-top: 10px;
  }
  .left-part {
    flex-grow: 1;
  }
  .btn-part {
    height: 100%;
    display: flex;
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-size: 20px;
      padding: 15px 20px;
    }
  }
  .holiday {
    color: #FF431E;
  }
  .std-btn {

    .fa {
      font-size: inherit;
      color: inherit;
      border-radius: inherit;
      border: inherit;
      box-shadow: none;
      width: auto;
      height: auto;
      display: inline;
      line-height: normal;
    }
  }
  h2.warning {
    color: #FFC107;
  }
  .warning {
    .fa-exclamation-triangle {
      color: #FFC107;
      border: 1px solid #FFF3CD;
      box-shadow: 0 0 10px 1px #FFF3CD;
    }
  }
}
#confirm-modal {
  h2.warning {
    color: #FFC107;
  }
  .warning {
    .fa-exclamation-triangle {
      color: #FFC107;
      border: 1px solid #FFF3CD;
      box-shadow: 0 0 10px 1px #FFF3CD;
    }
  }
}
.js-show-favorites {
  position: relative;
  span {
    min-width: 20px;
    height: 20px;
    background: #FF431E;
    color: #FFFFFF;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 12px;
    position: relative;
    top: -6px;
    left: -4px;
  }
}
.about-cont {
  padding: 20px 20px;
  .tab-content {
    padding: 15px 0;
  }
  .dropdown-menu {
    display: none;
  }
  .show .dropdown-menu {
    top: 100% !important;
    left: 0 !important;
  }
  .dropdown-menu.show {
    display: block !important;
  }
  .js-editor {
    max-height: 250px;
    height: 250px;
    background-color: white;
    border-collapse: separate;
    border: 1px solid rgb(204, 204, 204);
    padding: 4px;
    box-sizing: content-box;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0 1px 1px 0 inset;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0 1px 1px 0 inset;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    overflow: scroll;
    outline: none;
    margin-bottom: 20px;
  }
}

.js-save-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(29,163,98,0.8);
  color: #FFFFFF;
  font-size: 25px;
  border-radius: 5px;
  align-items: center;
  padding: 15px 20px;
  display: none;
  .fa {
    font-size: 40px;
    margin-right: 10px;
    display: block;
    width: auto;
  }
}
.about-text {
  padding-left: 40px;
  padding-right: 25px;
  padding-top: 35px;
  padding-bottom: 35px;
  font-size: 16px;
  & > div {
    margin: 10px 0;
  }
  strike {
    text-decoration: none;
    background: #fff;
    padding: 10px 20px 10px 50px;
    box-sizing: border-box;
    position: relative;
    min-height: 30px;
    border-left: none;
    font-size: 18px;
    display: block;
    font-weight: 600;
    &:before {
      font-family: FontAwesome;
      content: "\f10d";
      position: absolute;
      top: -3px;
      left: 8px;
      font-size: 30px;
      color: #ff431e;
      font-weight: 400;
    }
  }
}
.search-result-list {
  .booking-confirm {
    i {
      margin-bottom: 10px;
      color: #FF431E;
      border: 1px solid #FF6040;
      box-shadow: 0 0 10px 1px #FF775C;
      -webkit-box-shadow: 0 0 10px 1px #FF775C;
    }
  }
}
.add-place {
  .upload-btn-wrapper {
    position: static;
    display: block;
    margin: 0 auto;
    text-align: center;
    .img-cont {
      width: 150px;
      margin: 25px auto -10px auto;
      position: relative;
      img {
        display: block;
        max-width: 100%;
        max-height: 210px;
        width: auto;
        height: auto;
      }
    }
    input[type=file] {
      width: 100%;
      height: 100%;
    }
    .theme-btn {
      &:hover, &:focus {
        color: #FFFFFF !important;
      }
    }
  }
  #map {
    height: 350px;

  }
  .right-column {
    padding-top: 35px;
  }
  .add-listing-box {
    float: left;
    width: 100%;
  }
  .map-contain {
    margin-top: 20px;
  }
  .js-photo-error {
    color: #FF431E;
    text-align: center;
    font-weight: 600;
  }
  .js-lat, .js-lng {
    opacity: 0.5;
    &:hover, &:active, &:focus {
      border: 1px solid #dde6ef;
    }
  }
}
.hint {
  background: rgba(255,255,255,0.98);
  position: fixed;
  top: 100px;
  right: 20px;
  border-radius: 6px;
  width: 310px;
  padding-top: 15px;
  z-index: 9;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
  .js-close-hint {
    font-size: 33px;
    position: absolute;
    right: 6px;
    top: 6px;
    cursor: pointer;
  }
  .hint-content {
    padding: 15px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: normal;
    font-weight: 500;
    .anim-hint {
      width: 100%;
      display: block;
      margin-top: 10px;
    }
  }
}
ul.footer-navigation li {
  width: 100%;
}
.marker-app-download {
  width: 180px;
  display: block;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
.footer-copyright {
  text-transform: none;
  p {
    text-transform: none;
  }
}
.theme-bg {
  padding-bottom: 23px;
}
.seo-cont {
  padding: 15px;
}
.js-duration-wrap {
  position: relative;
  margin-left: 10px;
  sup {
    margin: 0 2px;
  }
  &:before {
    content: "";
    width: 1px;
    background: #FFFFFF;
    height: 100%;
    position: absolute;
    left: 0;
  }
  .fa {
    margin-right: 0 !important;
    padding-left: 14px;
  }
}
.flex {
  display: flex;
}
.not-show-again {
  margin-top: 10px;
  font-size: 15px;
  label {
    font-weight: 400;
    cursor: pointer;
    display: inline;
  }
  input[type="checkbox"]{
    display: none;
  }
  .jq-checkbox {
    display: inline-block;
    position: relative;
    top: -2px;
  }
  .jq-checkbox.checked .jq-checkbox__div {
    width: 9px;
    height: 6px;
    border-bottom: 2px solid #FF431E;
    border-left: 2px solid #FF431E;
  }
}
.modal {
  .close {
    font-size: 25px;
    &:hover {
      font-size: 25px;
      color: #000000;
    }
  }
}
.detail-page {
  .address-cont {
    max-width: 250px;
    padding: 0 !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    min-height: 55px;
  }
  .profile-cover-content {
    .buttons {
      padding: 15px 15px;
    }
  }
  .address-cont {
    display: none;
  }
}
.footer {
  .footer-text {
    display: flex;
  }
  .theme-bg {
    .widget-title {
      margin-bottom: 5px;
    }
    .footer-widget {
      text-align: center;
    }
  }
  .disabled {
    color: #4D5E75;
  }
  .footer-widget {
    padding: 0;
    p {
      font-size: 20px;
      margin-bottom: 0;
    }
  }
  .gray-footer-widget {
    width: auto;
    .widget-title {
      margin-bottom: 12px;
    }
    &:last-child {
      display: flex;
      padding-bottom: 10px;
    }
  }
  .widget-title {
    font-size: 24px;
    margin: 0;
  }
  .about-link {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: bold;
  }
  .app-download {
    display: flex;
    .marker-app-download {
      opacity: 0.4;
    }
  }
  .gray-flex {
    padding-top: 10px;
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
    a {
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .powered {
    display: flex;
    align-items: center;
  }
  .txt {
    text-align: center;
    color: #868b93;
    font-size: 16px;
    line-height: 23px;
    a {
      display: block;
      color: #ffffff;
      font-weight: bolder;
      font-size: 21px;
      margin: 0;
      margin-right: 0 !important;
    }
    .copyr {
      font-size: 13px;
    }
  }
  .img-cont {
    width: 45px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    img {
      width: 100%;
      display: block;
      margin-bottom: 0;
    }
  }
  .left-footer-part {
    width: 380px;
    padding: 10px 15px;
  }
  .right-footer-part {
    flex-grow: 1;
    padding-right: 15px;
  }
}
.s-text {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  .tag-content {
    padding: 0;
    h2 {
      text-transform: none;
    }
    p {
      text-transform: none;
    }
  }
}
.navbar-header {
  .navbar-brand {
    position: relative;
    .free-card{
      position: absolute;
      font-size: 14px;
      font-weight: 400;
      bottom: -4px;
      left: 57px;
      white-space: nowrap;
      color: #282F33;
    }
  }
}
.navbar-transparent {
  .navbar-header {
    .navbar-brand {
      .free-card{
        color: #FFFFFF;
      }
    }
  }
}

@media (min-width: 992px) {
  nav.navbar.bootsnav.navbar-fixed .logo-display {
    display: none;
  }
}
@media (max-width: 1200px) {
  .widget-title {
    font-size: 22px;
  }
  .footer-widget {
    padding: 1em 3%;
  }
  .footer {
    .theme-bg {
      .widget-title {
        font-size: 22px;
      }
    }
    .footer-widget {
      p {
        font-size: 18px;
      }
    }
    .about-link {
      font-size: 18px;
    }
    .left-footer-part {
      width: 350px;
    }
    .gray-flex {
      padding-left: 30px;
      a {
        width: 140px;
      }
    }
    .img-cont {
      width: 40px;
      margin-right: 11px;
    }
  }
  .marker-app-download {
    width: 140px;
  }
}
@media (max-width: 1100px) {
  nav.navbar.bootsnav ul.nav>li {
    padding: 4px 5px;
    & > a {
      padding: 16.5px 7px;
    }
  }
  .user-auth-wrap {
    .user-auth {
      max-width: 170px;
    }
  }
  .about-page {
    .title-content {
      h1 {
        font-size: 35px;
      }
    }
    .page-title {
      height: 280px;
    }
    .about-text {
      padding-left: 30px;
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    section {
      padding: 35px 0 20px;
    }
    .text-cont {

    }
  }
}
@media (max-width: 992px) {

  body nav.navbar.bootsnav.navbar-transparent {
    background-color: #FFFFFF;
    border-bottom: none;
    //box-shadow: 0 0 8px 0 rgba(0,0,0,0.12);
    box-shadow: none;
  }
  /*.desctop-sign {
    display: none !important;
  }*/
  nav.navbar.bootsnav.no-full .navbar-collapse {
    max-height: none !important;
  }
  .no-pd {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    .dropdown {
      width: 135px;
      margin-right: 0;
    }
    .dropdown-toggle {
      width: 100%;
    }
    .desctop-sign {
      border-bottom: none !important;
    }
  }
  .user-auth-wrap {
    margin-bottom: 8px;
    width: calc( 100% - 150px );
    .profile-menu {
      display: block !important;
      position: relative;
      box-shadow: none;
      li {
        &:last-child {
          a {
            border-bottom: none;
          }
        }
      }
      a {
        padding-left: 20px;
      }
    }
    .user-auth {
      justify-content: flex-start;
      height: 52px;
      max-width: none;
    }
  }
  .no-pd .dropdown-cont {
    position: relative;
  }
  .home-map {
    padding-top: 57px;
  }
  .page-title {
    height: 230px;
  }
  .about-page {
    .title-content {
      h1 {
        font-size: 30px;
      }
    }
    .page-title {
      height: 250px;
    }
    .about-text {
      font-size: 15px;
      strike {
        padding: 10px 15px 10px 40px;
        font-size: 15px;
        &:before {
          top: 2px;
          left: 12px;
          font-size: 25px;
        }
      }
      font {
        i {
          font-size: 14px;
        }
      }
    }
  }
  .footer-text {
    display: flex;
    flex-wrap: wrap;
  }
  .detail-flex {
    display: flex;
    flex-direction: column-reverse;
    .widget-boxed.right-part {
      display: flex;
    }
  }
  .detail-page {
    .detail-section {
      height: 180px;
      .listing-owner {
        position: static;
        min-width: 130px;
      }
      .listing-owner-detail {
        height: 100px;
        width: 100px;
      }
    }
    .detail-flex {
      .col-xs-12 {
        width: 100%;
      }
    }
    .list-detail {
      padding: 25px 0 3em;
    }
    .profile-cover-content {
      bottom: 10px;
      & > .container {
        display: flex;
        flex-direction: row-reverse;
      }
      .cover-buttons {
        float: none;
        & > ul {
          display: flex;
          height: 100%;
          margin-bottom: 0;
          align-items: flex-end;
        }
      }
    }
    .img-detail {
      max-height: 250px;
      img {
        width: auto;
        height: auto;
        max-height: 100%;
      }
    }
  }
  .footer {
    .gray-footer-widget {
      &:last-child {
        display: none;
      }
    }
  }
}
@media (max-width: 768px) {
  .footer {
    .col-sm-6 {
      width: 50%;
      min-width: 50%;
    }
  }
  .detail-page {
    .profile-cover-content {
      .buttons {
        padding: 8px 10px!important;
        font-size: 14px;
      }
      .cover-buttons {
        ul {
          flex-wrap: wrap;
        }
        li {
          float: none;
          font-family: 'Roboto', sans-serif;
          &:nth-child(2) {
            margin-right: 30%;
          }
          a {
            i {
              margin-right: 5px;
            }
          }
        }
      }
    }
    .img-detail {
      width: 50%;
      img {
        max-width: 100%;
      }
    }
    .widget-boxed-body {
      width: 50%;
    }
  }
  .small-list-img {
    margin: 0;
    img {
      border-radius: 0;
    }
  }
  .app-bar {
    height: 393px;
    top: auto;
    bottom: 0;
    left: 50%;
    right: auto !important;
    transform: translateX(-50%);
    background: rgba(243,246,248,0.8);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    .tab.style-2 {
      background: rgba(243,246,248,0.8);
      border: none;
      padding-left: 4px;
      padding-right: 4px;
      padding-top: 10px;
    }
    .tab {
      .tab-content {
        height: 250px;
        min-height: 185px;
        margin-top: 0;
        margin-bottom: 0;
        background: #FFFFFF;
        padding-left: 2px;
        padding-right: 2px;
      }
      .fast-parking-list, .all-places-list {
        .small-listing-box {
          padding: 4px 0;
          background: none;
          border-bottom: 1px solid #F2F6F7;
          font-family: 'Roboto', sans-serif;
          &:hover {
            box-shadow: none;
          }
        }
        .small-list-img {
          margin-right: 5px;
        }
      }
      .bot-info span:after {
        margin-left: 8px;
        margin-right: 8px;
      }
    }
    button.w3-bar-item.w3-button.w3-large {
      z-index: -1;
      font-size: 0;
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 50px;
      height: 35px;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      background: rgba(243, 246, 248, 0.8);
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
      &:before {
        content: "\f00d";
        font-family: "FontAwesome";
        font-size: 22px;
        color: #FF431E;
        position: absolute;
        top: 19px;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }
  .search-tab {
    .one-row-in {
      height: 62px;
    }
    .label {
      margin-bottom: 4px;
    }
    .bot {
      .span {
        margin-bottom: 4px;
        margin-top: -3px;
      }
    }
    .noUi-horizontal {
      .noUi-handle {
        width: 20px;
        height: 20px;
        top: -8px;
      }
    }
    .icon-cont {
      font-size: 34px;
    }
  }
  .filter-tab, .search-tab {
    input[type="text"] {
      height: 30px;
    }
    .one-row {
      padding: 0 10px 0 10px;
    }
    .js-interval-slider {
      width: 230px;
    }
  }
  .filter-tab {
    .one-row-in {
      height: 70px;
    }
    .icon-cont {
      font-size: 37px;
    }
  }
  .search-tab {
    .filt-block-info {
      padding-top: 5px;
    }
  }
  .footer {
    .footer-text {
      flex-direction: column;
    }
    .left-footer-part {
      width: 100%;
    }
    .gray-footer-widget {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
      &:last-child {
        display: flex;
        justify-content: center;
        margin-bottom: 0;
      }
    }
    .app-download {
      justify-content: center;
    }
    .gray-flex {
      a {
        margin-right: 20px;
      }
    }
    .gray-flex {
      flex-direction: column;
      padding-left: 15px;
    }

  }
}

@media (max-width: 680px) {
  nav.navbar.bootsnav ul.nav > li > a {
    padding: 10.5px 7px;
  }
}
@media (max-width: 540px) {
  .addplace-page {
    .col-xs-5 {
      width: 100%;
    }
    .col-xs-7 {
      display: none;
      width: 100%;
    }
    .add-place {
      margin-top: -75px;
    }
    .translateY-60 {
      padding: 0;
    }
  }
  #favorites-modal {
    padding: 0 !important;
    .modal-dialog {
      width: 420px;
      margin-left: auto;
      margin-right: auto;
    }
    .blog-list-info {
      font-family: Roboto;
    }
    .bot-info {
      font-size: 13px;
      span {
        &:after {
          margin-left: 8px;
          margin-right: 8px;
        }
      }
    }
    .favorites-cont .blog-list-img {
      height: 50px;
      width: 50px;
      max-width: 50px;
      min-width: 50px;
    }
    .btn-part {
      .btn {
        padding: 15px 15px;
      }
    }
  }
  .about-page {
    .title-content {
      margin-top: 45px;
      h1 {
        font-size: 23px;
      }
    }
    .about-text {
      padding-left: 20px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      strike {
        padding: 10px 15px 10px 15px;
        &:before {
          left: -10px;
          font-size: 20px;
        }
      }
    }
    .text-cont {
      margin-top: -100px;
      .col-md-12 {
        padding: 0;
      }
    }

  }
  .footer {
    .col-sm-6 {
      width: 100%;
    }
  }
  .footer-widget {
    text-align: center;
  }
  .widget-title {
    display: none;
  }
  .theme-bg {
    padding-bottom: 0;
  }
  .app-download {
    img {
      margin-bottom: 0;
    }
  }
  .footer-navigation {
    li {
      &:last-child {
        a {
          margin-bottom: 0;
        }
      }
    }
  }
  .app-part {
    .footer-widget {
      padding-top: 0;
    }
  }
  .social-part {
    img {
      margin-left: auto;
      margin-right: auto;
    }
    .footer-social {
      text-align: center;
      margin-bottom: 10px;
    }
  }
  .detail-page {
    .detail-section {
      height: 215px;
    }
    .profile-cover-content {
      .cover-buttons {
        ul {
          text-align: left;
        }
        li {
          width: 100%;
        }
      }
    }
    .detail-flex .widget-boxed.right-part {
      margin-bottom: 25px;
    }
    .detail-wrapper {
      margin-bottom: 0;
    }
    .detail-wrapper-body {
      padding-top: 10px;
    }
    .listing-address {
      margin-bottom: 8px;
    }
  }
  .footer {
    .footer-widget {
      p {
        font-size: 16px;
      }
    }
  }
}
@media (max-width: 480px) {
  .no-pd {
    flex-direction: column-reverse;
    padding-bottom: 20px !important;
    .dropdown {
      width: 100%;
    }
    .flag-cont {
      width: 25px;
      height: 25px;
    }
  }
  .user-auth-wrap {
    width: 100%;
    .user-auth {
      height: 47px;
    }
  }
  .hint {
    width: 295px;
  }
  #signup {
    .modal-dialog {
      max-width: 300px;
    }
  }
  #favorites-modal {
    .favorites-cont {
      max-height: 283px;
      padding: 0 5px;
      .blog-list-img {
        height: 60px;
        width: 60px;
        max-width: 60px;
        min-width: 60px;
      }
    }
    .top-info {
      font-size: 14px;
    }
    .bot-info {
      font-size: 14px;
    }
    .blog-list-img {
      height: 40px;
      width: 40px;
      max-width: 40px;
      min-width: 40px;
    }
    .modal-dialog {
      width: 300px;
    }
    .btn-part {
      .btn {
        padding: 5px 15px;
        width: 50%;
      }
    }
    .blog-list-info {
      flex-direction: column;
    }
  }
  .detail-page {
    .detail-section {
      height: 225px;
      .listing-owner {
        min-width: 115px;
      }
    }
    .profile-cover-content {
      bottom: 7px;
      .cover-buttons {
        li {
          &:nth-child(2) {
            margin-right: 0;
          }
        }
      }
    }
    .detail-flex {
      .widget-boxed.right-part {
        flex-direction: column;
      }
    }
    .img-detail {
      width: 100%;
    }
    .widget-boxed-body {
      width: 100%;
    }
  }
  .app-bar {
    .tab .nav-tabs li {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 380px) {
  .app-bar {
    width: calc( 100% - 10px );
    height: 365px;
    .tab .fast-parking-list, .tab .all-places-list {
      .small-list-img {
        padding: 3px;
        max-width: 55px;
      }
      .bot-info {
        font-size: 14px;
        margin-top: -4px;
      }
      .top-info {
        font-size: 13px;
      }
      .small-list-action {
        margin-bottom: 5px;
      }
    }
    .tab .nav-tabs li a {
      font-size: 12px;
      padding: 5px 5px;
    }
    .filter-tab, .search-tab {
      .one-row {
        padding: 0 5px 0 5px;
      }
      #js-search-interval-slider {
        width: 205px;
      }
      #js-search-distance-slider {
        width: 205px;
      }
      #js-interval-slider {
        width: 205px;
      }
    }
    .search-tab {
      .label {
        font-size: 13px;
      }
      .bot-row {
        font-size: 13px;
      }
      .icon-cont {
        font-size: 32px;
        min-width: 65px;
      }
    }
    .js-red-btn {
      margin-top: 7px;
      height: 40px;
    }
  }
}

